<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row py-5">
    <div class="col-md-3">
      <h1>User info</h1>
      <div class="image_tag">
        <%= image_tag @user.get_image(100, 100)%>
      </div>
      <table class="table">
        <tr>
          <th>name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= @user.introduction %></td>
        </tr>
      </table>
      <div>
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-gear"></i>
        <% end %>
      </div>
      
      <h1>New book</h1>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this book from being saved
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: Book do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>

        <%= f.submit "Create Book", class: 'btn btn-success' %>

      <% end %>
    </div>
    
    <div class="offset-md-1"></div>
    
    <div class="col-md-8">
      <h1>Book detail</h1>
      <table class="table">
        <tr>
          <td><%= image_tag @book.user.get_image(100, 100)%></td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" , class: 'btn btn-danger'%></td>
          <% end %>
          <tr>
            <td><%= link_to @book.user.name, user_path(@user) %></td>
          </tr>
        </tr>
      </table>

    </div>
  </div>
</div>
